ion-content {
  --background: #1C1E33;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.login-form {
  height: 70%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-input {
  --background: transparent;
  --color: white;
  border: none;
}

ion-item {
  --background: #3e3d4d;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 10px;
  width: 100%;
}

ion-button {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #F1395B;
}

ion-label {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
  color: #F1395B !important;
}

.forgot-password {
  color: white !important;
  margin-top: 10px;
}

.login-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.register-button {
  margin-top: 0;
}

.login-header {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 30%;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.logo-image {
  width: 200px;
  max-width: 300px;
  height: auto;
}


