.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to bottom right, #831843, #311d6e);
}

.login-card {
  width: 100%;
  margin: 0;
}

/*.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  background: linear-gradient(to bottom right, #831843, #311d6e);
  padding: 10px;
  overflow: hidden;
}

.login-card {
  width: 100%;
  margin: 0;
  padding: 10px;
  border-radius: 35px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  flex-grow: 1;
  max-height: 70%;
}
*/

.header h1 {
  color: white;
  font-size: 36px;
  margin: 0;
}

.input-item {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
}

.input-item ion-input {
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.input-item ion-input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.contraseña-perdida {
  width: 100%;
  max-width: 350px;
  text-align: right;
  margin-top: 10px;
}

.boton-ingresar {
  margin-top: 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
}

.texto-registrarse {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.texto-registrarse ion-text:first-child {
  margin-right: 5px;
}

.input-item-password ion-input:focus {
  margin-bottom: 0;
}