<ion-menu side="start" menuId="mainMenu" contentId="pageContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/tabs/home">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/biblioteca">
        <ion-icon name="library" slot="start"></ion-icon>
        <ion-label>Mi Biblioteca</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/perfil">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/recomendaciones">
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>Recomendaciones</ion-label>
      </ion-item>
      <ion-item routerLink="/tabs/mis-listas">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>Mis Listas</ion-label>
      </ion-item>
      <ion-item (click)="getCurrentLocation()">
        <ion-icon name="location" slot="start"></ion-icon>
        <ion-label>Activar Geolocalización</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="pageContent" [fullscreen]="true">
  <div class="home-container">
    <div class="search-bar-container">
      <ion-menu-button></ion-menu-button>
      <ion-searchbar [(ngModel)]="titulo" 
                    (ionInput)="onSearchInput()"
                    placeholder="Buscar libros..."
                    [animated]="true">
      </ion-searchbar>
    </div>

    <ion-list>
      <ion-item-group *ngFor="let lista of listas">
        <ion-item-divider>
          <ion-label>{{ lista.nombre }}</ion-label>
          <ion-note slot="end">{{ lista.cantidad_libros }} libros</ion-note>
        </ion-item-divider>
        
        <ion-item *ngFor="let book of lista.books">
          <ion-thumbnail slot="start">
            <img [src]="book.coverImage" (error)="book.coverImage = 'assets/covers/default.jpg'">
          </ion-thumbnail>
          <ion-label>
            <h2>{{ book.title }}</h2>
            <p>{{ book.author }}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>