ion-content {
  --background: #1C1E33;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1000;
  
  ion-menu-button {
    --color: var(--text-color);
  }

  ion-searchbar {
    --background: var(--input-background);
    --box-shadow: none;
    --border-radius: 0.625rem;
    --placeholder-color: rgba(255, 255, 255, 0.6);
    --color: var(--text-color);
    --icon-color: var(--text-color);
    --clear-button-color: var(--text-color);
  }
}

.section-title {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  width: 100%;
  text-align: center;
}

.book-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.book-card {
  background: #3e3d4d;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.book-cover {
  width: 100%;
  height: auto;
}

.book-title {
  color: white;
}

.book-author {
  color: #F1395B;
}