:root {
    --ion-color-primary: #F1395B;
    --ion-color-primary-rgb: 241, 57, 91;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #F1395B;
    --ion-color-primary-tint: #F1395B;
  
    --primary-color: #0054e9;
    --secondary-color: #F1395B;
    --background-color: #1C1E33;
    --input-background: #3e3d4d;
    --text-color: #ffffff;
    --spacing-unit: 1rem;
  }