<ion-content>
  <div class="login-container">

    <div class="login-header">
      <h1 class="login-title">Another Book</h1>
    </div>

    <div class="login-form">

      <ion-item class="input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          [(ngModel)]="email" 
          type="email" 
          required 
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
          placeholder="ejemplo@correo.com">
        </ion-input>
        <ion-text color="danger" *ngIf="!isValidEmail(email) && email">
          Por favor, ingrese un correo electrónico válido.
        </ion-text>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input 
          [(ngModel)]="password" 
          type="password" 
          required 
          minlength="8" 
          maxlength="20" 
          pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,20}$" 
          placeholder="Escriba su contraseña aquí">
        </ion-input>
        <ion-text color="danger" *ngIf="!isValidPassword(password) && password">
          La contraseña debe tener entre 8 y 20 caracteres, y contener al menos un número.
        </ion-text>
      </ion-item>

      <ion-button 
        expand="block" 
        (click)="login()" 
        class="login-button" 
        [disabled]="!isFormValid()">
        Ingresar
      </ion-button>

      <ion-button expand="block" fill="clear" color="light" class="register-button">Registrarse</ion-button>

      <ion-text class="forgot-password" color="medium">
        <a href="#">Olvidaste tu contraseña?</a>
      </ion-text>

    </div>
  </div>
</ion-content>
